#root {
  max-width: 1280px;
}

.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gray;
  font-weight: 600;
  min-height: 100vh;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
